@{
    ViewBag.Title = "Story Elements";
    ViewBag.SubTitle = "Archetypes";
}

@model List<FountainFlowUI.Models.ArchetypeViewModel>
@section styles
{
    <!-- Datatable css -->
    <link href="~/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Dropzone css -->
    <link href="~/vendor/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
<!-- Custom Archetype styles -->
<link href="~/css/archetype-styles.css" rel="stylesheet" type="text/css" />
}
}

@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-5">
                        <a href="javascript:void(0);" id="add-archetype-btn" class="btn btn-primary mb-2"><i
                                class="mdi mdi-plus-circle me-2"></i> Add Archetype</a>
                    </div>
                    <div class="col-sm-7">
                        <div class="text-sm-end">
                            <button id="delete-selected-btn" type="button" class="btn btn-danger mb-2 me-1"><i
                                    class="mdi mdi-delete"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1" id="import-btn">Import</button>
                            <button type="button" class="btn btn-light mb-2" id="export-btn">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive  table-container">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="archetypes-datatable"
                           data-get-archetypes-url="@Url.Action("GetArchetypes", "Archetypes")"
                           data-get-archetype-url="@Url.Action("GetArchetype", "Archetypes")"
                           data-delete-archetype-url="@Url.Action("DeleteArchetype", "Archetypes")"
                           data-delete-multiple-url="@Url.Action("DeleteMultipleArchetypes", "Archetypes")"
                           data-export-url="@Url.Action("ExportArchetypes", "Archetypes")"
                           data-import-url="@Url.Action("ImportArchetypes", "Archetypes")">
                        <thead class="table-light">
                            <tr>
                                <th class="all" style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th class="all">Domain / Architect</th>
                                <th>Rank</th>
                                <th style="width: 85px;">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Archetypes will be loaded dynamically via JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
    <div class="col-8">

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active" id="justified-tabs-preview">
                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <a href="#beat1" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-0 active">
                                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                    <span class="d-none d-md-block">Beats</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#genre1" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                    <span class="d-none d-md-block">Genres</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="beat1">
                                <!-- Beats content will be loaded dynamically via JavaScript -->
                                <div id="beats-content" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <a href="javascript: void(0);" class="text-center d-block mb-4">
                                                    <img id="archetype-image" src="" class="img-fluid"
                                                        style="max-width: 280px;" alt="Story-img" />
                                                </a>
                                            </div> <!-- end col -->
                                            <div class="col-lg-7">
                                                <form class="ps-lg-4">
                                                    <h3 id="archetype-title" class="mt-0"></h3>
                                                    <p id="archetype-date" class="mb-1"></p>
                                                    <div class="mt-4">
                                                        <p id="archetype-description"></p>
                                                    </div>
                                                </form>
                                            </div> <!-- end col -->

                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div
                                                        class="card-header d-flex justify-content-between align-items-center">
                                                        <h4 class="header-title">Story Elements</h4>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-vertical"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <!-- item-->
                                                                <a href="javascript:void(0);"
                                                                    class="dropdown-item">Edit</a>
                                                                <!-- item-->
                                                                <a href="javascript:void(0);"
                                                                    class="dropdown-item">Examples</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-body py-0 mb-3" data-simplebar
                                                        style="max-height: 315px;">
                                                        <div id="beats-timeline" class="timeline-alt py-0">
                                                            <!-- Beats will be loaded dynamically -->
                                                        </div>
                                                        <!-- end timeline -->
                                                    </div> <!-- end simplebar -->
                                                </div>
                                                <!-- end card-->
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <div class="tab-pane" id="genre1">
                                <div id="genres-content" class="col-md-6 col-xxl-12">
                                    <!-- Genres will be loaded dynamically -->
                                </div> <!-- end col -->
                            </div>
                        </div>
                    </div> <!-- end preview-->
                </div> <!-- end tab-content-->
            </div> <!-- end card-body -->
        </div> <!-- end card-->

    </div> <!-- end col -->
</div>
<!-- end row -->

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importModalLabel">Import Archetypes</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <p class="mb-3">Select a JSON file containing archetype data to import.</p>
                <form action="#" id="importDropzone" class="dropzone" data-plugin="dropzone"
                    data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                    <div class="fallback">
                        <input name="file" type="file" accept="application/json" />
                    </div>
                    <div class="dz-message needsclick">
                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                        <h3>Drop JSON file here or click to upload.</h3>
                        <span class="text-muted font-13">(Only .json files are accepted)</span>
                    </div>
                </form>
                <div class="dropzone-previews mt-3" id="file-previews"></div>
                <div class="d-none" id="uploadPreviewTemplate">
                    <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                </div>
                                <div class="col ps-0">
                                    <a href="javascript:void(0);" class="text-muted fw-bold" data-dz-name></a>
                                    <p class="mb-0" data-dz-size></p>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                        <i class="dripicons-cross"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="import-submit-btn" disabled>Import</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Archetype Modal -->
<div class="modal fade" id="addArchetypeModal" tabindex="-1" role="dialog" aria-labelledby="addArchetypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addArchetypeModalLabel">Add New Archetype</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="addArchetypeForm">
                    <div class="mb-3">
                        <label for="archetype-domain" class="form-label">Domain</label>
                        <input type="text" id="archetype-domain" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="archetype-architect" class="form-label">Architect</label>
                        <input type="text" id="archetype-architect" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="archetype-description" class="form-label">Description</label>
                        <textarea class="form-control" id="archetype-description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="archetype-rank" class="form-label">Rank</label>
                        <input type="number" id="archetype-rank" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Icon (Optional)</label>
                        <div id="archetypeIconDropzone" class="dropzone">
                            <div class="fallback">
                                <input name="iconFile" type="file" accept="image/*" />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="h1 text-muted dripicons-cloud-upload"></i>
                                <h3>Drop image here or click to upload.</h3>
                                <span class="text-muted font-13">(Optional, image files only)</span>
                            </div>
                        </div>
                        <!-- Preview container -->
                        <div class="dropzone-previews mt-1" id="archetype-icon-preview"></div>
                    </div>
                    <div class="mb-3">
                        <label for="archetype-externalLink" class="form-label">External Link (Optional)</label>
                        <input type="url" id="archetype-externalLink" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-archetype-btn">Save Archetype</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Toast Container -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
    <div id="importToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i id="toast-icon" class="mdi mdi-circle-slice-8 font-18 me-1"></i>
            <strong class="me-auto" id="toast-title">Notification</strong>
            <small id="toast-time">Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>


@section scripts
{
    <!-- Datatable js -->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/vendor/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
    <!-- Dropzone js -->
    <script src="~/vendor/dropzone/dropzone-min.js"></script>
    <!-- Custom Archetype management script -->
    <script src="~/js/archetype-management.js"></script>
}